In [28]:
import pandas as pd
df_a=pd.read_excel('b1_t_stat_activity_log.xlsx')
df_b=pd.read_excel('b1_t_stat_widget_log.xlsx')
print()

#student attended in dataframe a
activity_counts_a = df_a.groupby(['personid', 'clazzid'])['activity_id'].count().reset_index()
activity_counts_a.columns = ['personid', 'clazzid', 'activity_count_a']

# Count the number of activities each student attended in dataframe b
activity_counts_b = df_b.groupby([ 'clazzid'])['activity_id'].count().reset_index()
activity_counts_b.columns = [ 'clazzid', 'activity_count_b']

print(activity_counts_b)

       clazzid  activity_count_b
0      4198577                 1
1      4198587                 1
2      4198602                 1
3      4198609                 2
4      4198612                 1
...        ...               ...
2568  11198005                 6
2569  11198016                 5
2570  11198018                 8
2571  11264469                 1
2572  11287350                10

[2573 rows x 2 columns]
       personid  clazzid  activity_count_a  activity_count_b
0      28405745  5964880                 1                 4
1      28405745  6838708                 2                 5
2      28405756  6136781                 2                 7
3      28405756  6137100                 1                 2
4      28405756  6137477                 1                 1
...         ...      ...               ...               ...
95914  42880549  9665471                 1                 4
95915  42880555  9665471                 1                 4
95916  42880660  9665471                 1                 4
95917  42945396  9663524                 1                 3
95918  43006519  9663730                 1                23

[95919 rows x 4 columns]

In [29]:
# Merge the two dataframes on 'clazzid'
merged_df = pd.merge(activity_counts_a, activity_counts_b, on=['clazzid'], how='left')

# Fill NaN values with 0 if any
merged_df.fillna(0, inplace=True)

# Print the merged dataframe
print(merged_df)

       personid  clazzid  activity_count_a  activity_count_b
0      28405745  5964880                 1                 4
1      28405745  6838708                 2                 5
2      28405756  6136781                 2                 7
3      28405756  6137100                 1                 2
4      28405756  6137477                 1                 1
...         ...      ...               ...               ...
95914  42880549  9665471                 1                 4
95915  42880555  9665471                 1                 4
95916  42880660  9665471                 1                 4
95917  42945396  9663524                 1                 3
95918  43006519  9663730                 1                23

[95919 rows x 4 columns]

In [34]:
total_activity_count = merged_df.groupby('personid')['activity_count_a','activity_count_b'].sum()
merged_df2=total_activity_count
print(merged_df2)

          activity_count_a  activity_count_b
personid
28405745                 3                 9
28405756                22                42
28405770                 1                 6
28405783                 1                 4
28405785                 1                 4
...                    ...               ...
42880549                 1                 4
42880555                 1                 4
42880660                 1                 4
42945396                 1                 3
43006519                 1                23

[19417 rows x 2 columns]

C:\Users\wayward\AppData\Local\Temp\ipykernel_10184\68492775.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  total_activity_count = merged_df.groupby('personid')['activity_count_a','activity_count_b'].sum()

In [37]:
merged_df2['c'] = merged_df2.apply(lambda row: row['activity_count_a'] / row['activity_count_b'], axis=1)
sorted_df = merged_df2.sort_values(by='c', ascending=False)
sorted_df.head(2000)

sorted_df.to_csv('rate_of_activity.csv')

In [ ]:
'''for index in range(total_activity_count.shape[0]):
    x=total_activity_count.iloc[index]
    y=total_activity_count2.iloc[index]
    #print(x/y)'''