In [1]:
import pandas as pd
df_a=pd.read_excel('b1_t_stat_exam_answer.xlsx')
score = df_a.groupby(['personid', 'clazzid'])['score'].sum()
average = df_a.groupby(['personid', 'clazzid'])['score'].mean()
std = df_a.groupby(['personid', 'clazzid'])['score'].std()
group_stats = df_a.groupby(['personid', 'clazzid']).agg(
    mean_col1=('score', 'mean'),
    stddev_col1=('score', 'std'),
    max_col2=('score', 'max'),
    min_score=('score', 'min'),
    count=('score','count')
)
#根据平均分排序生成df,如果需要可以另外存储
sorted_df = group_stats.sort_values(by='mean_col1', ascending=False)
#添加考试次数
exam_count = df_a.groupby([ 'clazzid'])['exam_id'].unique()
df = pd.DataFrame(columns=['exam_id'])
df['exam_id'] =exam_count
df['total_exam_number'] = exam_count.transform(lambda x: len(x))
#调整输出格式，给两列添加索引，方便调用
group_stats.index = [(x[0],x[1]) for x in group_stats.index]
b_column = group_stats['clazzid'] = [tup[1] for tup in group_stats.index]
b_column = group_stats['personid'] = [tup[0] for tup in group_stats.index]
#整合所有数据行程df
merged_df = pd.merge(group_stats, df, on=['clazzid'], how='inner')
#调整df的列的order
merged_df = merged_df[['personid','clazzid','mean_col1','stddev_col1','max_col2','min_score','count','total_exam_number']]

In [2]:
print(merged_df)

       personid   clazzid  mean_col1  stddev_col1  max_col2  min_score  count  \
0      28405787   9665961       34.5    24.748737      52.0       17.0      2
1      28405970   9665961       42.5    31.819805      65.0       20.0      2
2      28406294   9665961       30.5    38.890873      58.0        3.0      2
3      28406423   9665961       57.5    53.033009      95.0       20.0      2
4      28406795   9665961       30.5    21.920310      46.0       15.0      2
...         ...       ...        ...          ...       ...        ...    ...
14387  40047399  11197849        0.0          NaN       0.0        0.0      1
14388  40047416  11197849        0.0          NaN       0.0        0.0      1
14389  40047424  11197849        0.0          NaN       0.0        0.0      1
14390  40047427  11197849        0.0          NaN       0.0        0.0      1
14391  40047439  11197849        0.0          NaN       0.0        0.0      1

       total_exam_number
0                      2
1                      2
2                      2
3                      2
4                      2
...                  ...
14387                  1
14388                  1
14389                  1
14390                  1
14391                  1

[14392 rows x 8 columns]